body{
font-family: Arial;
text-align:center;
background:#0f172a;
color:white;
padding:30px;
}

button{
display:block;
width:80%;
margin:20px auto;
padding:15px;
font-size:18px;
border-radius:12px;
border:none;
background:#22c55e;
color:white;
}

ul{
list-style:none;
padding:0;
}

li{
margin:15px;
font-size:18px;
}